body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h5,
h6 {
  font-weight: 400;
}

#top {
  padding-top: 5vh;
  min-height: 90vh;
  background-image: url("../img/Axia-bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
}
#prefooter {
  min-height: 480px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  background-image: url("../img/footer-bg.svg");
}
@media screen and (max-width: 1920px) {
  #prefooter {
    min-height: 320px;
  }
}
@media screen and (max-width: 720px) {
  #prefooter {
    min-height: 240px;
  }
}
#top h3 {
  padding: 50px 0 25px 0;
}

.content-section h3 {
  padding-bottom: 50px;
}

.content-section h4 {
  padding-bottom: 50px;
}

.content-section p {
  padding-bottom: 50px;
}

.service {
  padding: 25px;
}

.service img {
  width: 75px;
  margin-bottom: 12px;
}

.member {
  padding: 10px 0;
}

.member img {
  max-width: 125px;
}

.service h5 {
  margin-bottom: 12px;
  text-transform: uppercase;
  padding: 10px 0;
}

.member h4 {
  text-transform: uppercase;
  padding: 10px 0;
  margin: 0;
  font-weight: 600;
}

.content-section {
  padding: 5vh 0;
}

nav {
  padding: 20px 0;
}

.desktop-links {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
}

.nav-link a {
  font-weight: 600;
  color: black;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-logo {
  display: flex;
  align-content: center;
  align-items: center;
}

.chevron-down {
  height: 32px;
}

.nav-logo img {
  width: auto;
  max-height: 50px;
}

#contact .form-control {
  margin: 5px 0;
}

footer {
  display: flex;
  padding: 15px 0;
}

button {
  color: white;
  background-color: black;
  font-weight: 600;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.partner {
  padding: 15px;
}

.hidden {
  display: none;
}

.partner img {
  max-width: 100px;
  padding: 15px;
}

.partner a {
  color: black;
}

.partner h6 {
  font-weight: 600;
}

footer .container {
  align-content: center;
  align-items: center;
}

.mobile-toggler {
  display: none;
  text-align: right;
  width: 1rem;
  height: 1rem;
  z-index: 15;
  color: black;
  background-color: white;
  right: 24px;
}
.hidden {
  display: none;
}

#mobile-links {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: none;
  transition: all 0.5s;
  opacity: 0;
  background-color: white;
}

#mobile-links .nav-links {
  text-align: center;
  position: absolute; /*it can be fixed too*/
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  margin: auto;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#mobile-links.active {
  opacity: 100;
  display: block;
}

#mobile-menu {
  top: 6px;
  left: 6px;
}

#nav {
  background-color: white;
  width: 100vw;
  z-index: 10;
}

.drop-shadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 2561px) {
  #top {
    min-height: 60vh;
    background-size: 75%;
  }
}

@media screen and (max-width: 720px) {
  #top {
    padding-top: 100px;
    background-size: 200%;
    height: 100vh;
  }
  #nav {
    position: fixed;
  }
  .mobile-toggler {
    position: fixed;
    display: block;
    height: 40px;
    width: 40px;
    right: 12px;
    top: 12px;
  }
  .nav-logo img {
    max-height: 30px;
  }
  .desktop-links {
    display: none;
  }
  .nav-logo {
    display: block;
  }
  footer {
    text-align: center !important;
  }
}

@media screen and (max-width: 576px) {
  #top {
    min-height: 420px;
    background-size: 150%;
  }
}
